# =================================================
# *** DATABASE ***
# =================================================

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Keycloak database
KC_DB_NAME=keycloak
KC_DB_USER=kc_user
KC_DB_PASSWORD=**********

# Thesis Management database
THESIS_DB_NAME=thesis_management
THESIS_DB_USER=thesis_user
THESIS_DB_PASSWORD=***********

# =================================================
# *** KEYCLOAK
# =================================================

KC_DB=postgres
KC_DB_URL=jdbc:postgresql://pgdb:5432/keycloak
KC_DB_USERNAME=kc_user
KC_DB_PASSWORD=kc_pass


KC_HOSTNAME=cile-keycloak.curricume.com
KC_PROXY=edge
KC_HOSTNAME_STRICT='false'
KC_HOSTNAME_STRICT_HTTPS='false'

KC_LOG_LEVEL=info
KC_METRICS_ENABLED='true'
KC_HEALTH_ENABLED='true'

KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin

KC_PROXY_HEADERS=xforwarded


# =========================
# *** SERVER + CLIENT ***
# =========================

# endpoints
CLIENT_HOST=https://cile.curricume.com
SERVER_HOST=https://cile-server.curricume.com


# Keycloak configuration
KEYCLOAK_HOST=https://cile-keycloak.curricume.com
KEYCLOAK_REALM_NAME=thesis-management
KEYCLOAK_CLIENT_ID=thesis-management-app
KEYCLOAK_SERVICE_CLIENT_ID=thesis-management-service-client
KEYCLOAK_SERVICE_CLIENT_SECRET=*****************************
KEYCLOAK_SERVICE_STUDENT_GROUP_NAME=thesis-students


# =========================
# *** SERVER ***
# =========================

SPRING_PROFILES_ACTIVE=dev
UPLOAD_FOLDER=/app/uploads
APPLICATION_TITLE=Thesis Management
CHAIR_NAME=Thesis Management

###### ???????????????
CHAIR_URL=https://cile-server.curricume.com

# Database (PostgreSQL)
SPRING_DATASOURCE_URL=jdbc:postgresql://pgdb:5432/thesis_management
SPRING_DATASOURCE_USERNAME=thesis_user
SPRING_DATASOURCE_PASSWORD=thesis_pass

# Mail / Postfix
MAIL_ENABLED=false
POSTFIX_HOST=postfix
POSTFIX_PORT=25
MAIL_SENDER=test@ios.ase.cit.tum.de
MAIL_SIGNATURE="Best regards, The Thesis Management Team"
MAIL_WORKSPACE_URL=https://slack.com
MAIL_BCC_RECIPIENTS=

# CalDav (optional integration)
CALDAV_ENABLED=false
CALDAV_URL=
CALDAV_USERNAME=
CALDAV_PASSWORD=

# Other configuration
UPLOAD_FOLDER=/app/uploads
SCIENTIFIC_WRITING_GUIDE=
SPRING_PROFILES_ACTIVE=dev

# =========================
# *** CLIENT ***
# =========================

# UI / DOMAIN DATA
APPLICATION_TITLE=Thesis Management
CHAIR_NAME=Thesis Management
CHAIR_URL=window.origin
GENDERS={"MALE":"Male","FEMALE":"Female","OTHER":"Other","PREFER_NOT_TO_SAY":"Prefer not to say"}
STUDY_DEGREES={"BACHELOR":"Bachelor","MASTER":"Master"}
STUDY_PROGRAMS={"COMPUTER_SCIENCE":"Computer Science","INFORMATION_SYSTEMS":"Information Systems","GAMES_ENGINEERING":"Games Engineering","MANAGEMENT_AND_TECHNOLOGY":"Management and Technology","OTHER":"Other"}
THESIS_TYPES={"BACHELOR":{"long":"Bachelor Thesis","short":"BA"},"MASTER":{"long":"Master Thesis","short":"MA"},"INTERDISCIPLINARY_PROJECT":{"long":"Interdisciplinary Project","short":"IDP"},"GUIDED_RESEARCH":{"long":"Guided Research","short":"GR"}}
LANGUAGES={"ENGLISH":"English","GERMAN":"German"}
CUSTOM_DATA={"GITHUB":{"label":"Github Profile","required":false}}
THESIS_FILES={"PRESENTATION":{"label":"Presentation","description":"Presentation (PDF)","accept":"pdf","required":true},"PRESENTATION_SOURCE":{"label":"Presentation Source","description":"Presentation Source (KEY, PPTX)","accept":"any","required":false},"FEEDBACK_LOG":{"label":"Feedback Log","description":"Feedback Log (PDF)","accept":"pdf","required":false}}
DEFAULT_SUPERVISOR_UUID=

